<form id="general-edit-form">

  <div class="form-group">
    <label for="inputPostName" class="fw-600">Название</label>
    <input name="name" type="text" class="form-control" id="inputPostName" aria-describedby="postNameHelp" placeholder="Название поста"
      value="{{post.name}}">
    <small id="postNameHelp" class="form-text text-muted">Введите название для поста с событием</small>
  </div>

  <div class="form-group">
    <label for="inputAuthorName" class="fw-600">Имя организатора</label>
    <input name="organizerName" type="text" class="form-control" id="inputAuthorName" aria-describedby="authorNameHelp" placeholder="Имя организатора"
      value="{{post.organizerName}}">
    <small id="authorNameHelp" class="form-text text-muted">Введите ФИО, имя или никнейм автора для поста с событием</small>
  </div>

  <div class="form-group">
    <label for="organizerLink" class="fw-600">Ссылка на организатора</label>
    <input name="organizerLink" type="text" class="form-control" id="organizerLink" aria-describedby="organizerLinkHelp" placeholder="Ссылка на организатора"
      value="{{post.organizerLink}}">
    <small id="organizerLinkHelp" class="form-text text-muted">Введите ссылку на блог, страницу организатора в одной из соц. сетей</small>
  </div>

  <div class="form-group">
    <label for="inputDate" class="fw-600">Дата публикации</label>
    <input name="eventDate" , type="date" class="form-control" id="inputDate" aria-describedby="dateHelp" placeholder="Дата публикации (01 января)"
      value="{{post.eventDate}}">
    <small id="dateHelp" class="form-text text-muted">Введите дату публикации.</small>
  </div>

  <div class="form-group">
    <label for="textareaAbout" class="fw-600">Описание</label>
    <textarea name="brief" class="form-control" id="textareaAbout" rows="5" placeholder="Описание события">{{post.brief}}</textarea>
    <small id="aboutHelp" class="form-text text-muted">Введите несколько предложений, которые будут представлены в качестве описания для события</small>
  </div>

  <div class="row">

    <div class="form-group col-6 col-md-4">
      <div id="btn-delete-category">
        &#10006;
      </div>
      <label for="select-all-categories" class="fw-600">Все категории</label>
      <select multiple class="form-control" id="select-all-categories">
          {{#each categories}}
            <option value="{{id}}">{{name}}</option>
          {{/each}}
        </select>
      <small class="form-text text-muted">Выберите категории, к которым относится пост (двойной клик)</small>
    </div>
    <div class="form-group col-6 col-md-4">
      <label for="select-selected-categories" class="fw-600">Выбранные</label>
      <select name="categories" multiple class="form-control" id="select-selected-categories">
          {{#each post.categories}}
            <option value="{{id}}">{{name}}</option>
          {{/each}}
        </select>
    </div>
    <div class="form-group col-12 col-md-4">
      <label for="input-new-category" class="fw-600">Создать категорию</label>
      <input name="organizerLink" type="text" class="form-control" id="input-new-category" aria-describedby="authorUrlHelp" placeholder="Категория">
      <button class="btn btn-outline-success btn-block mt-3" id="btn-create-new-category" type="button">Добавить</button>
    </div>
  </div>

  <div class="form-group">
    <label for="preview-image-file" class="fw-600">Превью события</label>
    <input name="previewImage" type="file" class="form-control-file" id="preview-image-file" aria-describedby="previewHelp">
    <small id="previewHelp" class="form-text text-muted">Выберите одно изображение в качестве картинки для поста</small>
  </div>

  <div class="text-center mb-4" id="preview-image-block">
    {{#if post.previewUrl}}
      <img id="preview-image-result" class="img-thumbnail col-5" src="{{post.previewUrl}}" alt="preview">
    {{/if}}
  </div>

  <div class="form-group">
    <label for="post-images-file" class="fw-600">Галерея</label>
    <input name="postImages" type="file" class="form-control-file" id="post-images-file" aria-describedby="photosHelp" multiple>
    <small id="photosHelp" class="form-text text-muted">Выберите одну или несколько фотографий для фотогалереи</small>
  </div>

  <div class="mb-4">
    {{>blog/post/post-images}}
  </div>

  <div class="clearfix hidden-xs-down mt-4">

    <div class="float-left" id="delete-block">
      {{#if post.id}}
        <button type="button" class="btn btn-danger" id="delete-post-btn">Удалить пост</button>
      {{/if}}
    </div>

    <div class="float-right" id="submit-block">
      <button type="button" class="btn btn-success" id="update-post-btn">Принять изменения</button>
    </div>

  </div>

  <div class="hidden-sm-up mt-4 d-flex flex-column">

    <div class="align-self-center" id="delete-block">
      {{#if post.id}}
        <button type="button" class="btn btn-danger" id="delete-post-btn">Удалить пост</button>
      {{/if}}
    </div>

    <hr class="mx-0 my-4">

    <div class="align-self-center" id="submit-block">
      <button type="button" class="btn btn-success" id="update-post-btn">Принять изменения</button>
    </div>

  </div>

</form>
