<form>
  
  <div class="form-group">
    <label for="inputPostName">Название</label>
    <input type="text" class="form-control" id="inputPostName" aria-describedby="postNameHelp" placeholder="Название поста" value="{{post.name}}">
    <small id="postNameHelp" class="form-text text-muted">Введите название для поста с событием</small>
  </div>

  <div class="form-group">
    <label for="inputAuthorName">Имя организатора</label>
    <input type="text" class="form-control" id="inputAuthorName" aria-describedby="authorNameHelp" placeholder="Имя организатора"
      value="{{post.organizerName}}">
    <small id="authorNameHelp" class="form-text text-muted">Введите ФИО, имя или никнейм автора для поста с событием</small>
  </div>

  <div class="form-group">
    <label for="inputAuthorUrl">Ссылка на организатора</label>
    <input type="text" class="form-control" id="inputAuthorUrl" aria-describedby="authorUrlHelp" placeholder="Ссылка на организатора"
      value="{{organizerLink}}">
    <small id="authorUrlHelp" class="form-text text-muted">Введите ссылку на блог, страницуорганизатора в одной из соц. сетей</small>
  </div>

  <div class="form-group">
    <label for="inputDate">Дата публикации</label>
    <input type="date" class="form-control" id="inputDate" aria-describedby="dateHelp" placeholder="Дата публикации (01 января)"
      value="{{post.eventDate}}">
    <small id="dateHelp" class="form-text text-muted">Введите дату публикации.</small>
  </div>

  <div class="form-group">
    <label for="textareaAbout">Описание</label>
    <textarea class="form-control" id="textareaAbout" rows="5" placeholder="Описание события">{{post.brief}}</textarea>
    <small id="aboutHelp" class="form-text text-muted">Введите несколько предложений, которые будут представлены в качестве описания для события</small>
  </div>

  <div class="form-group">
    <label for="selectCat">Категории</label>
    <select multiple class="form-control" id="selectCat">
        {{#each categories}}
          <option value="{{name}}">{{name}}</option>
        {{/each}}
      </select>
    <small id="catHelp" class="form-text text-muted">Выберите одну или несколько категорий, к которым относится пост</small>
  </div>

  <div class="form-group">
    <label for="inputRss">Прослушивание через RSS</label>
    <input type="text" class="form-control" id="inputRss" aria-describedby="rssHelp" placeholder="Ссылка на RSS" value="{Ссылка на RSS}">
    <small id="rssHelp" class="form-text text-muted">Введите ссылку на RSS для прослушивания подкаста</small>
  </div>

  <div class="form-group">
    <label for="inputItunes">Подкаст в iTunes</label>
    <input type="text" class="form-control" id="inputItunes" aria-describedby="itunesHelp" placeholder="Ссылка на iTunes" value="{Ссылка на iTunes}">
    <small id="itunesHelp" class="form-text text-muted">Введите ссылку на iTunes для прослушивания подкаста</small>
  </div>

  <div class="form-group">
    <label for="filePreview">Превью для события</label>
    <input type="file" class="form-control-file" id="filePreview" aria-describedby="previewHelp">
    <small id="previewHelp" class="form-text text-muted">Выберите одно изображение в качестве превью события</small>
  </div>

  <div class="form-group">
    <label for="filePhotos">Галерея</label>
    <input type="file" class="form-control-file" id="filePhotos" aria-describedby="photosHelp" multiple>
    <small id="photosHelp" class="form-text text-muted">Выберите одну или несколько фотографий для фотогалереи</small>
  </div>

  <button type="submit" class="btn btn-primary">Применить</button>

</form>
