<% layout('_layout') %>

  <div class="wrapper">
    <div class="card-deck">
      <% posts.forEach(post => { %>
        <div class="card">
          <img class="card-img-top" src=<%=p ost.img %> alt="image">
          <div class="card-block">
            <h4 class="card-title">
              <%= post.title %>
            </h4>
            <p class="card-text">
              <%= post.brief %>
            </p>
            <p class="card-text">
              <small class="text-muted">
              <%= post.author %>
            </small>
              <small class="text-muted">
              <%= post.date %>
            </small>
            </p>
            <a href=<%=p ost.link %> class="btn btn-primary">
            Подробнее
          </a>
          </div>
        </div>
        <% }); %>
    </div>
  </div>
