{{#each podcasts}}
  <div class="podcast-player">

    <hr class="my-3">
    <h4 class="podcast-name">{{name}}</h4>
    <p class="podcast-descr text-muted">
      <i class="fa fa-user" aria-hidden="true"></i>
      Автор: {{speaker}}
    </p>

    <div class="carousel podcast-carousel slide bg-inverse" id="podcast-carousel-{{id}}" data-interval="false">

      {{!-- Carousel images --}}
      <div class="carousel-inner slide" role="listbox" id="podcast-slider-{{id}}" data-interval="false">
        {{#each ../postImages}}
          <div class="carousel-item {{#if @first}}active{{/if}}">
            <img class="podcast-img" src= {{url}} alt="{{@index}} slide">
          </div>
        {{/each}}
      </div>

      {{!-- Previous slide --}}
      <a class="carousel-control-prev" href="#podcast-carousel-{{id}}" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>

      {{!-- Next slide --}}
      <a class="carousel-control-next" href="#podcast-carousel-{{id}}" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

    {{!-- Audio element --}}
    <audio class="podcast-audio" controls id="podcast-audio-{{id}}">
      <source src="{{audioUrl}}" type="audio/mpeg">
      Тег audio не поддерживается вашим браузером. Вы можете <a href="{{audioUrl}}">загрузить</a> файл на компьютер
    </audio>

  </div>
{{/each}}
